$primary: #1f282e;
$primary-contrast: #ffffff;
$secondary: #00AD9F;
$secondary-light: #D9E1E2;
$secondary-medium: #86C8BC;
$secondary-contrast: #022835;
$tertiary-contrast:#443E5D;

$accent-light:#00B7AB;
$accent-dark:#009989;
$font-light: #ababab;
$font-medium: #595959;
// $accent: tbd
