<div class="home-container" data-cy="home-course-cards">
  <mat-card
    *ngFor="let course of courseLesons$ | async"
    attr.data-cy="home-course-{{ course.id }}-card">
    <mat-card-header>
      <mat-card-title attr.data-cy="home-course-{{ course.id }}-title">
        {{ course.title }}
      </mat-card-title>
      <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <workshop-lessons-list attr.data-cy="home-course-{{ course.id }}-lessons"
        [lessons]="course.lessons"
        [readonly]="true">
      </workshop-lessons-list>
    </mat-card-content>
  </mat-card>
</div>
